<mat-progress-bar color="primary" value="50" mode="indeterminate"></mat-progress-bar>

<p class="lastParagraph">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Alias aut distinctio nam! Aspernatur doloribus id ipsum magnam quibusdam
    rem similique ullam vitae voluptatum. A aliquam at eligendi error
    exercitationem nisi non! Distinctio, quo, ut. Animi dignissimos id
    labore molestias nam omnis quos repellat similique velit voluptates?
    Asperiores atque consectetur cumque dolorem eum in iure molestiae odit sunt
    ullam. Aliquam aut ea eum iste libero minus perspiciatis,
    provident quis repellat tempore unde, vero. Commodi ea eveniet fugiat impedit
    libero perferendis porro, praesentium quia suscipit vel. Animi consequuntur culpa deserunt
    dicta dignissimos, distinctio earum eius eligendi enim eveniet ex fuga fugiat illo in
    laboriosam, laborum maxime molestias nihil nobis nostrum odio omnis placeat praesentium
    quaerat quam qui ratione voluptatem? Eius eos natus, non obcaecati possimus quam voluptate.
    Adipisci, aperiam blanditiis dolor eaque est explicabo facilis fuga harum hic ipsa minus nam nisi,
    nostrum, numquam officiis optio provident qui quos repellat sapiente sint unde velit veniam vitae voluptatum. Ab amet beatae blanditiis, consequatur molestiae nobis placeat quaerat quam quidem, tempora velit voluptatibus! Amet at dicta dignissimos eum in magni nam reiciendis, saepe. A corporis deleniti dolorem, dolores, ducimus, eaque illo labore mollitia natus perferendis quo repudiandae sequi sunt tempora voluptatum? Asperiores consequuntur esse iste officiis quasi, quibusdam quod suscipit. Cumque magni natus provident quisquam veritatis? Animi assumenda delectus ducimus eaque esse expedita maiores, necessitatibus nesciunt nihil, nostrum placeat sequi sit tempora velit voluptas?
</p>
<div>
    <mat-form-field appearance="outline">
        <mat-label>Insert Value</mat-label>
        <input #name id="name" [formControl]="fieldName" type="text" matInput placeholder="Placeholder" class=""/>
        <mat-icon matIconPrefix>sentiment_very_satisfied</mat-icon>
        <mat-error>Este es un error</mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline">
        <mat-label>Insert Value</mat-label>
        <input #password id="password" [formControl]="fieldPassword" type="text" matInput placeholder="Placeholder"/>
        <mat-icon matIconPrefix>sentiment_very_satisfied</mat-icon>
        <mat-error>Este es un error</mat-error>
    </mat-form-field>
</div>
<br>

<p>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Alias aut distinctio nam! Aspernatur doloribus id ipsum magnam quibusdam
    rem similique ullam vitae voluptatum. A aliquam at eligendi error
    exercitationem nisi non! Distinctio, quo, ut. Animi dignissimos id
    labore molestias nam omnis quos repellat similique velit voluptates?
    Asperiores atque consectetur cumque dolorem eum in iure molestiae odit sunt
    ullam. Aliquam aut ea eum iste libero minus perspiciatis,
    provident quis repellat tempore unde, vero. Commodi ea eveniet fugiat impedit
    libero perferendis porro, praesentium quia suscipit vel. Animi consequuntur culpa deserunt
    dicta dignissimos, distinctio earum eius eligendi enim eveniet ex fuga fugiat illo in
    laboriosam, laborum maxime molestias nihil nobis nostrum odio omnis placeat praesentium
    quaerat quam qui ratione voluptatem? Eius eos natus, non obcaecati possimus quam voluptate.
    Adipisci, aperiam blanditiis dolor eaque est explicabo facilis fuga harum hic ipsa minus nam nisi,
    nostrum, numquam officiis optio provident qui quos repellat sapiente sint unde velit veniam vitae voluptatum. Ab amet beatae blanditiis, consequatur molestiae nobis placeat quaerat quam quidem, tempora velit voluptatibus! Amet at dicta dignissimos eum in magni nam reiciendis, saepe. A corporis deleniti dolorem, dolores, ducimus, eaque illo labore mollitia natus perferendis quo repudiandae sequi sunt tempora voluptatum? Asperiores consequuntur esse iste officiis quasi, quibusdam quod suscipit. Cumque magni natus provident quisquam veritatis? Animi assumenda delectus ducimus eaque esse expedita maiores, necessitatibus nesciunt nihil, nostrum placeat sequi sit tempora velit voluptas?
</p>

<br>
<button mat-button> Empezar</button>
<p id="lastParagraph">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Alias aut distinctio nam! Aspernatur doloribus id ipsum magnam quibusdam
    rem similique ullam vitae voluptatum. A aliquam at eligendi error
    exercitationem nisi non! Distinctio, quo, ut. Animi dignissimos id
    labore molestias nam omnis quos repellat similique velit voluptates?
    Asperiores atque consectetur cumque dolorem eum in iure molestiae odit sunt
    ullam. Aliquam aut ea eum iste libero minus perspiciatis,
    provident quis repellat tempore unde, vero. Commodi ea eveniet fugiat impedit
    libero perferendis porro, praesentium quia suscipit vel. Animi consequuntur culpa deserunt
    dicta dignissimos, distinctio earum eius eligendi enim eveniet ex fuga fugiat illo in
    laboriosam, laborum maxime molestias nihil nobis nostrum odio omnis placeat praesentium
    quaerat quam qui ratione voluptatem? Eius eos natus, non obcaecati possimus quam voluptate.
    Adipisci, aperiam blanditiis dolor eaque est explicabo facilis fuga harum hic ipsa minus nam nisi,
    nostrum, numquam officiis optio provident qui quos repellat sapiente sint unde velit veniam vitae voluptatum. Ab amet beatae blanditiis, consequatur molestiae nobis placeat quaerat quam quidem, tempora velit voluptatibus! Amet at dicta dignissimos eum in magni nam reiciendis, saepe. A corporis deleniti dolorem, dolores, ducimus, eaque illo labore mollitia natus perferendis quo repudiandae sequi sunt tempora voluptatum? Asperiores consequuntur esse iste officiis quasi, quibusdam quod suscipit. Cumque magni natus provident quisquam veritatis? Animi assumenda delectus ducimus eaque esse expedita maiores, necessitatibus nesciunt nihil, nostrum placeat sequi sit tempora velit voluptas?
</p>